<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 權限聲明要放在這裡，在 <application> 標籤之前 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="動作詳細清單"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RehabilitationApp"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.plan.TrainingDetailActivity" />

        <activity android:name=".ui.facecheck.FaceCircleCheckerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.results.AnalysisResultActivity"
            android:exported="false" />

        <!-- 🔧 DEBUG: 加入這個 -->
        <activity
            android:name=".ui.debug.DebugPeakVisualizationActivity"
            android:exported="false" />

        <!-- 個人設定與修改的2個Activity -->
        <!-- 個人設定與修改的2個Activity -->


        <activity android:name=".ui.setting.EditProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.setting.ProfileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>